For some columns in your dataframe, you may want to change the values in them if they follow some pattern.

In this case, for example you try to decect in there is any value contain `6` in the `BMI` column; if so, then replace the whole value as `0`.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/diabetes.csv')
df.shape

(768, 9)

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#starting with one column
my_col = df.BMI
my_col.head()

0    33.6
1    26.6
2    23.3
3    28.1
4    43.1
Name: BMI, dtype: float64

In [11]:
# set the dtype of column as string
# if the column.dtype is already string then do NOT do this!!!
my_col = my_col.astype('str')
# check the value in column contains '6', if so then replace the whole value as '0'
my_col[my_col.str.contains("6")] = '0'
# You should change the dtype back to 'float' or 'int' to match the original data
# if the original dtype is object then do NOT do this!!!
my_col = my_col.astype('float')
# look at the first 5 values to see if they are changed
my_col.head()

0     0.0
1     0.0
2    23.3
3    28.1
4    43.1
Name: BMI, dtype: float64